github_location = http://github.com/ctjacobs/hello-world
github_branch_name = hello-world
github_token = abcdef
client_key = stuvwx
client_secret = xyz
resource_owner_key = ghijkl
resource_owner_secret = mnopqr
