[general]
name = My Name Here
affiliation = My Affiliation Here

[figshare]
token = stuvwx

[zenodo]
access_token = abcde

[dspace]
user_name = abc
user_pass = xyz
service_document_url = http://example.org/swordv2/servicedocument
collection_title = My Collection Title Here
